{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Login</title>
  <link href="{% static '/css/landing.css' %}" rel="stylesheet">
</head>
<body class="login-body">
  <div class="login-page">
    <p>M</p>
    <form class="login-container">
      <h1>LOGIN</h1>
      <label for="username">Username</label>
      <input type="text" id="username"><br>
      <label for="pw">Password</label>
      <input type="password" id="pw">
      <button type="submit">Submit</button>
    </form>
    <p>D</p>
    <p>E</p>
  </div>
</body>
</html>