body{
    overflow-x: hidden;
}

header{
    background-color: transparent;
    border-bottom: 2px solid rgb(212, 212, 212);
    color: rgb(212, 212, 212);
    width: 100%;
    height: 100px;
    display: flex;
    gap: 75%;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
}
header p{
    font-weight: bold;
    font-size: 40px;
    margin-left: 30px;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:25px;
}
.header-btn{
    background-color: transparent;
    border: none;
    color: rgb(212, 212, 212);
    margin-top: 5px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.3s;
    border-radius: 8px;
}

.header-btn:hover{
    opacity: 0.7;
    margin-top: 3px;
}

.search-box{
    border-radius: 10px;
    width: 450px;
    height: 40px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.categories{
    padding: 5px;
    background-color: rgb(252, 237, 246);
    color: black;
    border: none;
    font-size: 18px;
    width: 105px;
    appearance: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    cursor: pointer;
}

.categories option{
    background-color: #fffdfd;
    color: black;
}

.nav{
    margin-top: 8%;
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
    border-bottom: 2px solid rgb(252, 237, 246) ;
    gap: 5%;
    position: fixed;

    width: 100%;
}

.nav button{
    font-size: 22px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(252, 237, 246) ;
    font-family: 'Times New Roman', Times, serif;
}

.dropdown{
    position: relative;
    top: 20%;
    left: 2%;
}

.website-start{
    background-color: black;
    height: 710px;
    width: 100%;
}

.website-start img{
    width: 400px;
    height: 600px;
    margin-left: 38%;
    margin-top: 7%;
    top: 0;
    left: 0;
    right: 0;
}

.check{
    position: relative;
    top: 20%;
}

h1{
    margin-top: 5%;
}

.articles{
    margin-top: 5%;
    width: 100%;
    border: none;
}

.article-big{
    display: flex;
    flex-direction: column;
    width: 800px;
    justify-content: center;
    align-items: center;
    background: transparent;
    cursor: pointer;
    margin-left: 25%;
    border: none;
}

.article-big img{
    width: 700px;
}

.article-big .title{
    font-size: 35px;
    width: 700px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.author{
    font-size: 25px;
    text-align: left;
    width: 700px;
    margin-top: -20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.date{
    font-size: 20px;
    text-align: left;
    width: 700px;
    margin-top: -20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.article-one{
    width: 450px;
    margin-top: 5%;
    background: transparent;
    padding: 30px;
    height: 450px;
    border: none;
}

.article-one img{
    width: 400px;
    height: 300px;
}

.article-one .title,
.article-down .title,
.article-up .title,
.fashion-article-one .title,
.fashion-article-two .title{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.article-one .author,
.article-down .author,
.article-up .author,
.fashion-article-one .author,
.fashion-article-two .author{
    font-size: 20px;
    margin-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.article-one .date,
.article-down .date,
.article-up .date,
.fashion-article-one .date,
.fashion-article-two .date{
    font-size: 17px;
    margin-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.article-down{
    width: 450px;
    margin-top: 200px;
    background: transparent;
    margin-left: 3%;
    padding: 20px;
    height: 450px;
    border: none;
}

.article-down img,
.article-up img{
    width: 400px;
    height: 300px;
}

.article-up{
    margin-top: 70px;
    width: 450px;
    background: transparent;
    margin-left: 3%;
    height: 500px;
    padding: 30px;
    border: none;
}

.articles-below{
    display: flex;
}

.fashion-articles,
.culture-articles{
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}

.fashion-article-one,
.fashion-article-two{
    width: 400px;
    background: transparent;
    margin-left: 3%;
    padding: 20px;
    border: none;

}

.fashion-article-one img{
    width: 350px;
    height: 400px;
}

.fashion-article-two img{
    width: 350px;
    margin-top: -150px;
}

footer{
    background-color: beige;
    color: black;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
    width: 96%;
    height: 100%;
    border: 2px solid rgb(252, 237, 246);
    border-radius: 10px;
    padding: 30px;
    margin-top: 5%;
}

.footer-content{
    display: flex;
    
}

.footer-content ul{
    margin-left: 5%;
    width: 180px;
}

.footer-content ul li{
    list-style: none;
    font-size: 18px;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-content p{
    margin-left: 20%;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-content .social{
    margin-left: 30%;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.footer-content .social p{
    margin-left: 5%;
    font-size: 25px;
}

.footer-content .social div{
    margin-left: 13%;
    display: flex;
    gap: 10%;
}
.footer-content .social div button{
    width:50px;
    background-color: beige;
    border: none;
}

.footer-content .social div button img{
    width: 50px;
}

.login-container{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 18px;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 6%;
    margin-top: 8%;
    border: 2px solid gray;
    box-shadow: 2px 2px 2px 2px rgb(27, 27, 27);

}

.login-container label{
    font-size: 20px;
}

.login-container input{
    height: 35px;
    width: 250px;
}

.login-container h1{
    margin-top: -30px;
    margin-bottom: 30px;
}

.login-page{
    display: flex;
}

.login-page p{
    font-size: 400px;
    margin-top: 60px;
    margin-left: 3%;
}

.login-body{
    overflow-y: hidden;
}

.login-page button{
    margin-top: 20px;
    font-size: 15px;
    width: 90px;
    height: 40px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.signup-form{
    background-color: black;
    border: 2px solid rgb(139, 139, 139);
    width: 400px;
    color: white;
    height: 580px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.signup-element{
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
}

.signup-element input{
    width: 250px;
    margin-left: 20px;
    height: 25px;
}

.signup-element label{
    font-size: 16px;
}

.signup-form button{
    width: 100px;
    margin-left: 60%;
    margin-top: 5%;
    height: 40px;
    background-color: white;
    color: black;
}

.signup-body{
    background-color: black;
    display: flex;
}

.signup-body img{
    width: 460px;
    margin-left: 20%;
}
